body {
    background-color: whitesmoke; 
}
.Header {
    position: relative;
    height: 62px;
    z-index: 5;
    background-color: #2e363f;
    padding: 10px 15px;
}
.sidebar {
    position: absolute;
    height: 660px;
    /* width: calc(100% - 300px); */
    width: 70px;
    z-index: 5;
    background-color: #49CCED;
}

.user-nav {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 62px;
    z-index: 6;
    padding: 5px 0;
    color: whitesmoke;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: none;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    margin: 7px 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1;
    }
  
  .user-nav:hover .dropdown-content {
    display: block;
    z-index: 1;
  }

  .content-header {
      background-color: white;
      height: 40px;
      width: calc(100% - 70px);
      border-bottom: 1px solid rgba(0,0,0,0.1);
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
      z-index: 6;
      float: right;
  }

  .menu-sidebar{
      list-style: none;
      color: white;
  }

  .menu-sidebar li {
      display: block;
      padding: 15px 15px;
      margin-left: -40px;
      width: 70px;
  }
  .menu-sidebar li span {
      display: none;
  }

  .menu-sidebar li:hover {
      background-color: #2e363f;
      cursor: pointer;
  }
  
 .open {
    width: 343px;
    height: 500px;
    background-color: white;
    border: 0px 0px 1px 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    z-index: 4;
    position: absolute;
    right: 0;
    display: block;
    transform: translate(0,0);
 
    margin-top: 40px; 
    transition: 0.1s;
  }

  .btn-custom {
    margin: 20px 60px;
}

  .wrapper {
      border: 0px 0px 1px 1px solid rgba(0,0,0,0.1);
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
      border-radius: 5px;
      background-color: white;
      margin: 0px 60px;
      height: 500px;
      overflow-y: auto;
  }
  .wrapper1 {
      border: 0px 0px 1px 1px solid rgba(0,0,0,0.1);
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
      border-radius: 0px 5px 5px 5px;
      background-color: white;
      margin: 0px 60px;
      height: auto;
      overflow-y: auto;
  }
  .step {
    border: 0px 0px 1px 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    border-radius: 5px 5px 0px 0px;
    background-color: white;
    margin: 60px 60px 0px 60px;
    padding: 0px 5px;
    width: 57%;
    height: auto;
    overflow-y: auto;
}

.b3 {
  border-bottom: 3px solid #70a1ff;
}
.p5 {
  padding: 15px 25px;
}

  .content-wraper {
    border : 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    margin: 15px 50px;
  }

  .content-wraper:hover {
    cursor: pointer;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1)
  }

  #style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(41, 208, 214);
}

.loader {
  position: absolute !important;
  z-index: 99999;
  height: 100%;
  width: 100%;
  background-color: white;
}

.transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.link {
  text-decoration: none !important;
  color: black !important;
}
.link-header {
  text-decoration: none !important;
  color: white !important;
}

.link:hover {
  color: #2e363f !important;
}

.wraper {
  height: auto;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  background-color: white;
  margin: 50px 80px;
  z-index: 9;
  clear: both;
}

.text:hover {
  cursor: pointer;
}

.btn-bn {
  margin: -50px 80px;
  clear: both;
}

  @media (min-width: 576px) { 
    .wraper {
      height: auto;
      border: 1px solid rgba(0,0,0,0.1);
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
      background-color: white;
      margin: 20px 70px;
    }

    .wrapper {
      border: 0px 0px 1px 1px solid rgba(0,0,0,0.1);
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
      border-radius: 5px;
      background-color: white;
      margin: 0px 45px;
      height: 500px;
      overflow-y: auto;
  }
    .open {
        width: 400px;
        height: 500px;
        background-color: white;
        z-index: 4;
        position: absolute;
        left: 0;
        display: block;
        margin-top: 0px;
        transform: translate(0,0);
        transition: 0.1s;
      }
      
      .btn-custom {
        margin: 20px 60px;
    }

    .btn-bn {
      margin: 0px 70px
    }

    .menu-sidebar li span {
        display: inline-block;
    }
  

    .menu-sidebar{
        list-style: none;
        color: white;
        padding: 0px;
        margin: 0;
    }
  
    .menu-sidebar li {
        display: inline-block;
        padding: 13.5px 15px;
        margin-left: 0px;
        transition: transform .1s;
        width: auto;
    }
  
    .menu-sidebar li:hover {
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.2);
        background-color: transparent;
        cursor: pointer;
    }
    .content-header {
        background-color: white;
        height: 40px;
        width: 100%;
        z-index: 6;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
        float: none;
    }
    .Header {
        position: relative;
        height: 62px;
        z-index: 5;
        background-color: #2e363f;
        padding: 10px 15px;
    }
    .sidebar {
        position: relative;
        height: 50px;
        width: 100%;
        z-index: 5;
        background-color: #49CCED;
    }
    
    .user-nav {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 62px;
        z-index: 6;
        padding: 5px 0;
        color: whitesmoke;
        cursor: pointer;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
        
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        margin: 7px 0;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {
          background-color: #f1f1f1;
        }
      
      .user-nav:hover .dropdown-content {
        display: block;
        z-index: 1;
      }

      #style-2::-webkit-scrollbar-track
      {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
      }

      #style-2::-webkit-scrollbar
      {
        width: 12px;
        background-color: #F5F5F5;
      }

      #style-2::-webkit-scrollbar-thumb
      {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: rgb(41, 208, 214);
      }

      .wrapper1 {
        border: 0px 0px 1px 1px solid rgba(0,0,0,0.1);
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
        border-radius: 0px 5px 5px 5px;
        background-color: white;
        margin: 0px 60px 60px 60px;
        height: auto;
        overflow-y: auto;
    }
    .step {
      border: 0px 0px 1px 1px solid rgba(0,0,0,0.1);
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
      border-radius: 5px 5px 0px 0px;
      background-color: white;
      margin: 60px 60px 0px 60px;
      padding: 0px 5px;
      width: 20%;
      height: auto;
      overflow-y: auto;
  }
  }